@model CGWEB.Entities.RestaurantTagEnt


@{ ViewBag.Title = "Editar Restaurante - Etiqueta";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="pagetitle">
    <h1 class="mt-2">Etiquetar restaurante</h1>
</div>

@if (ViewBag.MsjPantalla != null)
{
    <div style="color:white" class="alert alert-danger text-danger" role="alert">
        @ViewBag.MsjPantalla
    </div>
}

@using (Html.BeginForm("EditRestaurantTag", "RestaurantTag", FormMethod.Post))
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalles</h5>

            <div class="row g-3">

                @Html.HiddenFor(m => m.RestaurantTag_Id)

                @if (Session["Rol_id_session"].ToString() == "1")
                {
                    <div class="col-md-12">
                        <div class="form-floating">
                            @Html.DropDownListFor(m => m.Tag_id, ViewBag.TagList as List<SelectListItem>, new { @class = "form-select", @id = "floatingSelect", @aria_label = "Tag_id" })
                            <label for="floatingSelect">Etiqueta</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating">
                            @Html.DropDownListFor(m => m.Restaurant_id, ViewBag.RestaurantList as List<SelectListItem>, new { @class = "form-select", @id = "floatingSelect", @aria_label = "Restaurant_id" })
                            <label for="floatingSelect">Restaurante</label>
                        </div>
                    </div>
                }

                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </div>
}

