@model CGWEB.Entities.UserEnt

@{
    ViewBag.Title = "ChangePassword";
}

<div class="pagetitle">
    <h1 class="mt-2">Cambio de contraseña</h1>
</div>

@if (ViewBag.MsjPantalla != null)
{
    <div style="color:white" class="alert alert-danger text-danger" role="alert">
        @ViewBag.MsjPantalla
    </div>
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalles</h5>

            <div class="row g-3">


                <div class="col-12">
                    <div class="form-floating">
                        @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "Contraseña" })
                        <label for="Mail">Contraseña</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        @Html.TextBoxFor(m => m.New_password, new { @type = "password", @class = "form-control", @placeholder = "Nueva contraseña" })
                        <label for="Mail">Nueva contraseña</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        @Html.TextBoxFor(m => m.Confirm_new_password, new { @type = "password", @class = "form-control", @placeholder = "Cofirmar nueva contraseña" })
                        <label for="Mail">Confirmar nueva contraseña</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </div>
}

